body { 
	visibility: hidden 
}

.navmargin {
	margin-top: 2em;
}

h2 {
    white-space: normal;
}

img.unfiltered {
	-webkit-filter: initial;
	   -moz-filter: initial;
		-ms-filter: initial;
		 -o-filter: initial;
			filter: initial;
  }