<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    {{- partial "head.html" . -}}
    {{- partial "scripts.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content" class="container">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
